/* TemperatureCard.css */

/* Add a class to the parent container that centers the card */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This sets the container to full viewport height */
  background-color: rgb(12, 111, 192);
}

.temperature-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  background-color: rgb(194, 192, 192);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  margin: 10px 0;
}

label {
  font-weight: bold;
  margin-right: 10px;
}
